name: frontend_$(BuildDefinitionName)_$(SourceBranchName)_$(date:yyyyMMdd)$(rev:.r)

trigger:
  branches:
    include:
      - master
      - feature/*

pool:
  vmImage: 'ubuntu-latest'

stages:
  - stage: TestAndBuild
    jobs:
      - job: Test
        displayName: Running unit tests
        container: node:lts
        steps:
          - script: |
              npm install
              npm run test:unit --ci --reporters=default --reporters=jest-junit
          - task: PublishTestResults@2
            condition: succeededOrFailed()
            inputs:
              testRunner: JUnit
              testResultsFiles: '**/junit.xml'

      - job: Build
        displayName: Build
        dependsOn: Test
        condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))
        steps:
          - script: |
              npm install
              npm run build
          - task: CopyFiles@2
            inputs:
              Contents: $(Build.SourcesDirectory)/dist/**
              TargetFolder: $(Build.ArtifactStagingDirectory)
          - task: ArchiveFiles@2
            inputs:
              rootFolderOrFile: $(Build.ArtifactStagingDirectory)/dist
              archiveFile: $(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip
          - task: PublishBuildArtifacts@1
            inputs:
              PathtoPublish: $(Build.ArtifactStagingDirectory)
